.app {
  width: 300px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin: 20px auto;
}

.transaction__list {
  list-style: none;
}

.transaction__deleteBtn {
  outline: none;
  border: none;
  background: #dc3545;
  color: white;
  border-radius: 4px;
  padding: 0px 9px;
  display: none;
  transition: all 0.5s;
}

.transaction__listItem:hover .transaction__deleteBtn {
  display: block;
}
